<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TarkovMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TarkovMonitor.Properties.Settings>
            <setting name="tarkovTrackerToken" serializeAs="String">
                <value />
            </setting>
            <setting name="tarkovTrackerDomain" serializeAs="String">
                <value>tarkovtracker.io</value>
            </setting>
            <setting name="submitQueueTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="raidStartAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="matchFoundAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="restartTaskAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minimizeAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="upgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="remoteId" serializeAs="String">
                <value />
            </setting>
            <setting name="autoNavigateMap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="airFilterAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stayOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="runthroughAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="navigateMapOnPositionUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scavCooldownAlert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scavKarma" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="notificationsDevice" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="minimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skipSplash" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customLogsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="customMap" serializeAs="String">
                <value />
            </setting>
            <setting name="tarkovTrackerTokens" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="runthroughTime" serializeAs="String">
                <value>00:07:10</value>
            </setting>
            <setting name="automaticallyDeleteScreenshotsAfterRaid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="questItemsAlert" serializeAs="String">
                <value>False</value>
            </setting>
        </TarkovMonitor.Properties.Settings>
    </userSettings>
</configuration>